{% extends "proj.html.twig" %}

{% block title %}Hem{% endblock %}

{% block body %}
    <div class="container">
        
    </div>

    <footer class="footer">
        <p>&copy; Copyright ägs av mig och bilder tillåts att användas och har hämtats från wikipedia.</p>
    </footer>
{% endblock %}