{% extends 'base.html.twig' %}

{% block title %}Card{% endblock %}

{% block body %}
    <div class="container">
        <h1>Deck of Cards</h1>
        <p>Total cards: {{ count }}</p>
    
        <h3>Sorted by Suit and Value</h3>
        <div class ="card-container">
            {% for card in deck %}
                <div class="card {% if card matches '/♥|♦/' %}red{% else %}black{% endif %}">
                    <p>{{ card }}</p>
                </div>
                {% if loop.index % 8 == 0 %}<br>{% endif %}
            {% endfor %}
        </div>
    </div>

    <footer class="footer">
        <p>&copy; Copyright ägs av mig och bilder tillåts att användas och har hämtats från wikipedia.</p>
    </footer>
{% endblock %}