{% extends 'base.html.twig' %}

{% block title %}Session Info{% endblock %}

{% block body %}
    <div class="container">
        <h1>Session Contents</h1>
        <a href="{{ path('card_session_delete') }}">Clear Session</a>
        <pre>{{ session_data|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
    </div>

    <footer class="footer">
        <p>&copy; Copyright ägs av mig och bilder tillåts att användas.</p>
    </footer>
{% endblock %}