@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background: #313131;
    color: #fff;
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5f0202;
    z-index: 2;
    top: 0;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 20px 0;
}

nav ul li {
    font-size: 1.1rem;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: "Raleway", sans-serif;
    padding: 8px 25px;
    transition: 300ms;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
}

nav ul li a:hover {
    color: white;
    text-decoration: underline 0.15em rgb(255, 255, 255, 1);
}

nav ul .active a {
    text-decoration: underline;
    text-decoration-thickness: 0.15em;
}

ul {
    padding-left: 1.5em;
}

.site-header {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.site-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.site-title {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    padding: 2rem;
    margin: auto;
    min-height: 61vh;
    color: white;
}

.container h1, h2, h3, p, a, li, th, td, label {
    font-family: "Basic", sans-serif;
    color: #fff;
}

.footer {
    display: flex;
    background: #5f0202;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    bottom: 0;
}

.footer p {
    color: white;
    font-family: "Raleway", sans-serif;
}

input {
    font-size: 1em;
}

.alert-danger {
    padding: 0.5em;
    color: #c00000;
    background-color: #500000;
    border-color: #5e0000;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}
.card {
    font-family: "Basic", sans-serif;;
    font-size: 1.5rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60px;
}

.red {
    color: red;
}
.black {
    color: black;
}

form {
    margin-bottom: 10px;
}
