{% extends "base.html.twig" %}

{% block title %}API{% endblock %}

{% block body %}
    <div class="container">
        <h1>JSON API</h1>
        <p>De json routes som finns 채r: api/lucky, api/query</p>
    </div>
    <footer class="footer">
        <p>&copy; Copyright 채gs av mig och bilder till책ts att anv채ndas.</p>
    </footer>
{% endblock %}