{% extends "base.html.twig" %}

{% block title %}Hem{% endblock %}

{% block body %}
    <div class="container">
        <h1>Hem</h1>
        <p>Hej mitt namn är Kasper Holgersson och det här är min hemsida för kursen mvc.</p>
        <img width=250px height=250px src="{{ asset('img/jag.png') }}" alt=""></img>
        <p>Jag ser fram emot att lära mig mer om ramverk, på en av de sista kurserna för denna termin.</p>
    </div>

    <footer class="footer">
        <p>&copy; Copyright ägs av mig och bilder tillåts att användas.</p>
    </footer>
{% endblock %}