{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}
    <div class="magic-container">
        <h1>Magic number</h1>
        <h1>Welcome to my awesome magical homepage.</h1>
        <h1>This is the current magic number: {{ number }}</h1>
    </div>
    <footer class="footer">
        <p>&copy; Copyright ägs av mig och bilder tillåts att användas.</p>
    </footer>
{% endblock %}