{% extends "base.html.twig" %}

{% block title %}Metrics{% endblock %}

{% block body %}
    <div class="container">
        <h1>Introduktion</h1>
        <p></p>
        <h1>Phpmetrics</h1>
        <p></p>
        <h1>Scrutinizer</h1>
        <p></p>
        <h1>Förbättringar</h1>
        <p></p>
        <h1>Diskussion</h1>
        <p></p>
    </div>
    <footer class="footer">
        <p>&copy; Copyright ägs av mig och bilder tillåts att användas och har hämtats från wikipedia.</p>
    </footer>
{% endblock %}