{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <div class="container report-container">
        <h1>Redovisning av kursmoment i kursen mvc</h1>

        <h2><a href="#Kmom01" class="section-link">Kmom01</a></h2>
        <section id="Kmom01" class="report-section">
            <p>
                Jag har förkunskaper inom objektorientering från oopython kursen, sedan har jag läst c# förut och vi håller på med
                objektorientering i webapp som håller på samtidigt som denna kurs. Då PHP är lite annorlunda och bara ett språk jag
                har jobbat med en gång förut och det var under webtec kursen. Då jag har blivit van med hur objektorientering är
                upplagt så har jag än inte blivit bekväm med det inom PHP.

                PHP's modell för klasser och objekt är väldigt lik andra programmeringsspråk. Då man skapar en klass och lägger till
                egenskaper och metoder för att hantera data. Sedan kan man använda sig av $this för att referera till objektens egenskaper.
                Objekten skapar man utifrån klasserna och på så sätt kan man använda egenskaperna och metoderna från den skapade klassen.

                För kodbasen som jag har skapat är det lite rörigt. Det är många mappar som man nu i början inte använder som gör det lite
                svårt att navigera sig igenom alla filer och ser till att allt är på rätt ställe. Då strukturen är lite rörig så är den
                flytande då om man är i app katalogen gör det lite lättare för en att jobba igenom strukturen.

                En del från artikeln som jag är lite nyfiken på är säkerhet. Det är något som vi antagligen inte kommer röra under denna
                kurs men det är något som vi inte har jobbat i någon av kurserna hittills som gör mig lite nyfiken att ta en titt på.
                Sedan är jag lite nyfiken på komponenter då det är något som jag håller på med i webapp och det hade varit lite kul att
                se skillnaden mellan språken på hur komponenter är uppbyggda.

                Min TIL för detta kursmoment är att jag lärt mig mer om symfony och vad det innebär. Sedan har jag lärt mig mer om hur PHP
                använder objektorientering och hur det jämförs med andra programmeringsspråk.
            </p>
        </section>

        <h2><a href="#Kmom02" class="section-link">Kmom02</a></h2>
        <section id="Kmom02" class="report-section">
            <p></p>
        </section>

        <h2><a href="#Kmom03" class="section-link">Kmom03</a></h2>
        <section id="Kmom03" class="report-section">
            <p></p>
        </section>

        <h2><a href="#Kmom04" class="section-link">Kmom04</a></h2>
        <section id="Kmom04" class="report-section">
            <p></p>
        </section>

        <h2><a href="#Kmom05" class="section-link">Kmom05</a></h2>
        <section id="Kmom05" class="report-section">
            <p></p>
        </section>

        <h2><a href="#Kmom06" class="section-link">Kmom06</a></h2>
        <section id="Kmom06" class="report-section">
            <p></p>
        </section>

        <h2><a href="#Kmom07-10" class="section-link">Kmom07-10</a></h2>
        <section id="Kmom07-10" class="report-section">
            <p></p>
        </section>
    </div>
    <footer class="footer">
        <p>&copy; Copyright ägs av mig och bilder tillåts att användas.</p>
    </footer>
{% endblock %}