{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <div class="container report-container">
        <h1>Redovisning av kursmoment i kursen mvc</h1>

        <h2><a href="#Kmom01" class="section-link">Kmom01</a></h2>
        <section id="Kmom01" class="report-section">
            <p>
                Jag har förkunskaper inom objektorientering från oopython kursen, sedan har jag läst c# förut och vi håller på med
                objektorientering i webapp som håller på samtidigt som denna kurs. Då PHP är lite annorlunda och bara ett språk jag
                har jobbat med en gång förut och det var under webtec kursen. Då jag har blivit van med hur objektorientering är
                upplagt så har jag än inte blivit bekväm med det inom PHP.
            </p>

            <p>
                PHP's modell för klasser och objekt är väldigt lik andra programmeringsspråk. Då man skapar en klass och lägger till
                egenskaper och metoder för att hantera data. Sedan kan man använda sig av $this för att referera till objektens egenskaper.
                Objekten skapar man utifrån klasserna och på så sätt kan man använda egenskaperna och metoderna från den skapade klassen.
            </p>

            <p>
                För kodbasen som jag har skapat är det lite rörigt. Det är många mappar som man nu i början inte använder som gör det lite
                svårt att navigera sig igenom alla filer och ser till att allt är på rätt ställe. Då strukturen är lite rörig så är den
                flytande då om man är i app katalogen gör det lite lättare för en att jobba igenom strukturen.
            </p>

            <p>
                En del från artikeln som jag är lite nyfiken på är säkerhet. Det är något som vi antagligen inte kommer röra under denna
                kurs men det är något som vi inte har jobbat i någon av kurserna hittills som gör mig lite nyfiken att ta en titt på.
                Sedan är jag lite nyfiken på komponenter då det är något som jag håller på med i webapp och det hade varit lite kul att
                se skillnaden mellan språken på hur komponenter är uppbyggda.
            </p>

            <p>
                Min TIL för detta kursmoment är att jag lärt mig mer om symfony och vad det innebär. Sedan har jag lärt mig mer om hur PHP
                använder objektorientering och hur det jämförs med andra programmeringsspråk.
            </p>
        </section>

        <h2><a href="#Kmom02" class="section-link">Kmom02</a></h2>
        <section id="Kmom02" class="report-section">
            <p>
                Den objektorienterade konstrukturen arv låter en klass ärva metoder och egenskaper från en annan klass. Det är
                där ordet "arv" kommer ifrån. Komposition är när en klass innehåller andra klasser som delar av sin struktur.
                Interface innebär någonting som en klass måste följa. Trait ger hur en klass gör något.
            </p>

            <p>
                Jag löste uppgiften med fyra olika klasser, för att styra hur allting fungerar de klasser är Card.php, CardGraphic.php,
                CardHand.php och DeckOfCards.php. Sedan använde jag mig av session för att styra allting i card mappen och hålla allting
                samman. Jag är nöjd med hur jag klarade av uppgiften något som jag funderade på att ändra var att ha någon typ av dropdown
                eller liknande för att navigera mellan alla kort sidor. Men för att skapa all kod så gick det bra.
            </p>

            <p>
                Att jobba med symfony har blivit lite enklare nu när jag vet hur det borde struktureras och vart allt ligger. Sedan så är det
                mycket att jobba med och mycket så även om jag fattar strukturen mycket bättre så har det ändå blivit lite trögt med att leta
                efter all kod. Men att jobba med symfony inom MVC är inte så jobbigt som jag tyckte det var under kmom01. 
            </p>

            <p>
                Min TIL för dett kursmoment var att jag lärde mig hantering av POST och GET i PHP objektorientering. Sedan att jobba med klasser
                och session för att skapa en hemsida för att hantera många olika kort sekvenser. Sedan har jag lärt mig att använda mig av mer
                commits för github.
            </p>
        </section>

        <h2><a href="#Kmom03" class="section-link">Kmom03</a></h2>
        <section id="Kmom03" class="report-section">
            <p>
                Att modellera ett kortspel med med flödesdiagram och pseudokod är något jag inte gjort förut. Det var kul att prova på något nytt
                för att förbereda och problemlösa på. Dock är det nog något som jag inte kommer göra i framtiden. Pseudokod känndes inte som att
                det hindrade mig mer än hjälpte. För att jag behövde fundera över hur det skulle se ut och sedan direkt börja proggramera samma kod.
                Det känndes som ett hinder som inte lät mig börja proggramera och testa mig fram. Flödesdiagrammet är lite mer hjälpsam då man får se 
                vad vilken del av koden som gör vad och hur allt hänger ihop.
            </p>

            <p>
                Min implementation för denna uppgift är jag relativt nöjd med. Då jag har jobbat mycket med koden för att få allt att fungera. Jag funderar
                på om jag borde haft mer klasser en för banken och spelaren till exempel och en för att hålla koll på på poängen och så vidare. För just nu har
                jag en stor klass som håller reda på allt. Sedan finns det förbättring då jag inte gjorde några av de optionella kraven då jag skulle kunna ha
                gjort spelet mer komplex och interaktivt med optionella kraven.
            </p>

            <p>
                Att jobba med symfony känns inte så konstigt som det gjorde förut. Nu har jag börjat fattat på riktigt hur allt hänger ihop. Det
                gör allting mycket lättare att lösa och fixa.
            </p>

            <p>
                Min TIL för detta kursmoment är att jag lärt mig mer om symfonys ramverk, mer om hur man programmerar objektorienterad php kod och
                sedan har jag lärt mig mer om problemlösning.
            </p>
        </section>

        <h2><a href="#Kmom04" class="section-link">Kmom04</a></h2>
        <section id="Kmom04" class="report-section">
            <p></p>
        </section>

        <h2><a href="#Kmom05" class="section-link">Kmom05</a></h2>
        <section id="Kmom05" class="report-section">
            <p></p>
        </section>

        <h2><a href="#Kmom06" class="section-link">Kmom06</a></h2>
        <section id="Kmom06" class="report-section">
            <p></p>
        </section>

        <h2><a href="#Kmom07-10" class="section-link">Kmom07-10</a></h2>
        <section id="Kmom07-10" class="report-section">
            <p></p>
        </section>
    </div>
    <footer class="footer">
        <p>&copy; Copyright ägs av mig och bilder tillåts att användas.</p>
    </footer>
{% endblock %}